@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">s
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p class="btn btn-primary" >Wellcom to  PRN221</p>

    <div>
        <a href="#" class="btn btn-danger" >Click me</a>
    </div>
</div>
